@page "/config"

<PageTitle>Configuration</PageTitle>
<body>
	<h3>Object Detection Configuration</h3>
	<div class="config-container">
		<div class="config-row first">
			<div class="config-row-content">
				<label class="config-name">Detector</label>
				<span class="config-input">
					<input id="checkbox" type="radio" />Faster RCNN
				</span>
			</div>
		</div>
		<div class="config-row">
			<div class="config-row-content">
				<label class="config-name">Classes</label>
				<span class="config-input">
					<input id="checkbox" type="checkbox" checked/>Person
					<input id="checkbox" type="checkbox" checked/>Car
				</span>
			</div>
		</div>
		<div class="config-row last">
			<div class="config-row-content">
				<label class="config-name">Detection Threshold</label>
				<span class="config-input">
					<input type="range" id="rangeInput" min="1" max="100" @bind="Threshold" @bind:event="oninput"/>@Threshold
				</span>
			</div>
		</div>
		<div>
			<input id="apply-btn" type="button" value="Apply"/>
		</div>
	</div>
</body>

@code {
	private int Threshold { get; set; } = 70;
}
