.config-name {
    font-weight: bold;
}

.container {
    float: left;
    width: 500px;
    min-width: 50%;
    max-width: 100%;
}

.config-container {
    background-color: #ebebeb;
    border-radius: 5px;
    margin-right: auto;
    margin-top: 30px;
}

.config-row {
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 2px;
    border-color: gray;
}

    .config-row.first {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .config-row.last {
        border-bottom: solid;
        border-width: 2px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: gray;
    }

.config-row-content {
    padding: 10px 20px 30px 20px;
}

.config-input {
    float: right;
}

.apply-btn {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
}

#checkbox {
    margin-left: 10px;
    margin-right: 5px;
}

#rangeInput {
    margin-right: 5px;
}