.container {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    min-width: 50%;
    max-width: 100%;
}

#logo {
    margin-top: -50px;
    margin-bottom: -30px;
}

.detect-btn {
    margin-top: 30px;
}