.container {
    position: relative;
    text-align: center;
    margin-top: 80px;
}

#logo {
    margin-top: -50px;
    margin-bottom: -30px;
}

.detect-btn {
    margin-top: 30px;
    min-width: 200px;
    width: 25%;
}