@page "/results/{DetectionCount:int}"

<PageTitle>Results</PageTitle>
<body>
	<div class="container">
		<h3>Detection Results</h3>
		<span><img id="image-output" src="outputs\output_1.jpg" /></span>
		<span><img id="image-output" src="outputs\output_2.jpg" /></span>
		<span><img id="image-output" src="outputs\output_3.jpg" /></span>
		<div class="results-info">
			<div>
				<label>Total Detections: </label><b>@DetectionCount</b>
			</div>
			<div>
				<label>Activity: </label><b>@IsActivity</b>
			</div>
		</div>
	</div>
</body>

@code {
	
	// DetectionCount value that is received from the page route
	[Parameter]
	public int? DetectionCount { get; set; }

	// Variable for displaying human activity as true or false
	bool IsActivity { get; set; }

	// Sets the IsActivity to true or false on page initialisation using the detection count parameter
	protected override void OnInitialized()
	{
		if(DetectionCount >= 1)
		{
			IsActivity = true;
		}
		else
		{
			IsActivity = false;
		}
	}
}
